/node_modules/
**/node_modules/
.env

# misc
.DS_STORE
/.env
/.env*
/coverage/
/npm-debug.log*
/testem.log
/ecosystem.config.js

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/node_modules/

# misc
/.env*
/.pnp*
/connect.lock
/coverage/
/libpeerconnection.log
/npm-debug.log*
/testem.log
/yarn-error.log
